<footer class="mt-auto bg-body-tertiary py-4">
    <div class="container">
      <ul class="nav justify-content-center pb-3 mb-3">
        <li class="nav-item"><a href="/information#chi-siamo" class="nav-link px-2 text-muted header-nav-link">Chi Siamo</a></li>
        <li class="nav-item"><a href="/information#spedizioni" class="nav-link px-2 text-muted header-nav-link">Spedizioni</a></li>
        <li class="nav-item"><a href="/information#privacy-policy" class="nav-link px-2 text-muted header-nav-link">Privacy Policy</a></li>
        <li class="nav-item"><a href="/information#contatti" class="nav-link px-2 text-muted header-nav-link">Contatti</a></li>
      </ul>
      <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
        <p class="mb-3 mb-sm-0 text-muted">© 2025 FunShop. Tutti i diritti riservati.</p>
        <ul class="list-unstyled d-flex mb-0">
          <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-twitter-x fs-4 footer-icon"></i></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram fs-4 footer-icon"></i></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook fs-4 footer-icon"></i></a></li>
        </ul>
       </div>
    </div>
</footer>