.prodotti-grid {
  /* Trasformo la lista in una griglia bidimensionale*/
  display:grid;
  /* Creazione di colonne reattive */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  list-style: none;
  padding:0;
}

.prodotto-card{
  /* Bordo sottile grigio chiaro attorno al prodotto */
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.prodotto-immagine{
  width: 100%;
  height: 200px;
  /* Ritaglia l'immagine per farla rientrare nell'altezza fissa senza schiacciarla o deformarla */
  object-fit: cover;
  border-radius: 4px;
}

